name: Build

on: push

jobs:
  Build:
    runs-on: macos-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm install
      - run: npx @vercel/ncc build src/main.ts

  Test:
    runs-on: macos-latest
    needs: Build
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm install
      - uses: ./
        id: setup-temporary-keychain
      - name: Output result
        run: |
          echo "Keychain Path => ${{ steps.setup-temporary-keychain.outputs.keychain }}"
          echo "Keychain Password => ${{ steps.setup-temporary-keychain.outputs.keychain-password }}"
