name: Build

on:
  push:
    branches:
      - main

env:
  TIMEOUT: 5
  NODE_VERSION: 16

jobs:
  Build:
    runs-on: macos-latest
    timeout-minutes: ${{ env.TIMEOUT }}

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - run: npm install

      - name: ncc build
        run: |
          npx @vercel/ncc build src/main.ts

  Test:
    runs-on: macos-latest
    needs: Build
    timeout-minutes: ${{ env.TIMEOUT }}

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}

      - run: npm install

      - uses: ./
        id: setup-temporary-keychain

      - name: Output result
        run: |
          echo "Keychain Path => ${{ steps.setup-temporary-keychain.outputs.keychain }}"
          echo "Keychain Password => ${{ steps.setup-temporary-keychain.outputs.keychain-password }}"
