name: Test

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main

  workflow_dispatch:

jobs:
  Test:
    runs-on: macos-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - uses: ./
        id: setup-temporary-keychain

      - name: Output result
        run: |
          echo "Keychain Path => ${{ steps.setup-temporary-keychain.outputs.keychain-path }}"
          echo "Keychain Password => ${{ steps.setup-temporary-keychain.outputs.keychain-password }}"
